<div class="productDetails" *ngIf="product != undefined">
  <div class="firstSection">
    <div class="imageContainer">
      <img
        src="{{ baseUrl + product?.pictureUrl }}"
        alt="{{ product?.name }}"
        class="img-fluid w-100"
      />
    </div>
    <div class="mainDetails">
      <h3>{{ product?.name }}</h3>
      <p>{{ product?.price | currency }}</p>
      <div class="d-flex controls">
        <div class="quantity">
          <i
            class="fa fa-minus-circle text-warning mr-2 icon"
            style="cursor: pointer; font-size: 2em"
          ></i>
          <h4 class="text-dark ml-3 mr-3">1</h4>
          <i
            class="fa fa-plus-circle text-warning ml-2 icon"
            style="cursor: pointer; font-size: 2em"
          ></i>
        </div>
        <button class="btn btn-warning btn-sm ml-2">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 ml-3">
      <h3>Description</h3>
      <p>{{ product?.description }}</p>
    </div>
  </div>
</div>
