<div class="container mt-5">
  <div *ngIf="(basket$ | async) === null">
    <p>There are no items</p>
  </div>
  <div *ngIf="(basket$ | async) !== null">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="border-0 bg-light">
                      <div class="p-2 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Total</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of (basket$ | async)?.items">
                    <th scope="row">
                      <div class="p-2">
                        <img
                          src="{{ item.pictureUrl }}"
                          alt="product"
                          class="img-fluid rounded shadow-sm"
                          style="max-height: 50px"
                        />
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0">
                            <a
                              routerLink="/shop/{{ item.id }}"
                              routerLinkActive="router-link-active"
                              class="text-dark d-inline-block align-middle m-3"
                              >{{ item.productName }}</a
                            >
                          </h5>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle">
                      <div class="p-2">{{ item.price | currency }}</div>
                    </td>
                    <td class="align-middle">
                      <div class="d-flex quantityContainer">
                        <i
                          class="fa fa-minus-circle text-warning mr-2"
                          style="cursor: pointer; font-size: 2em"
                          (click)="onDecreaseQuantity(item.id)"
                        ></i>
                        <div class="p-2">{{ item.quantity }}</div>
                        <i
                          class="fa fa-plus-circle text-warning ml-2"
                          style="cursor: pointer; font-size: 2em"
                          (click)="onIncreaseQuantity(item.id)"
                        ></i>
                      </div>
                    </td>
                    <td class="align-middle">
                      <div class="p-2">
                        {{ item.price * item.quantity | currency }}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul>
      <li *ngFor="let item of (basket$ | async)?.items">
        <div class="row">
          <div class="col-md-2">
            <img
              src="{{ item.pictureUrl }}"
              alt="{{ item.productName }}"
              class="img-fluid"
            />
          </div>
          <div class="col-md-10">
            <h4>{{ item.productName }}</h4>
            <p>{{ item.quantity }}</p>
            <p>{{ item.price }}</p>
            <!-- <button class="btn btn-danger" (click)="remove(item.id)">Remove</button> -->
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
