<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            href="#"
            class="nav-link px-2"
            routerLink="/home"
            routerLinkActive="text-warning"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-2"
            routerLink="/shop"
            routerLinkActive="text-warning"
            >Shop</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-2"
            routerLink="/test-errors"
            routerLinkActive="text-warning"
            >Errors</a
          >
        </li>
      </ul>

      <div class="shoppingCartContainer">
        <i
          routerLink="/basket"
          class="fa fa-shopping-cart fa-2x mr-5 text-warning"
          style="cursor: pointer"
        ></i>
        <div *ngIf="basket$ | async as basket" class="cart-no">
          {{ basket.items.length }}
        </div>
      </div>

      <div class="text-end" *ngIf="!user$">
        <a routerLink="/account/login" class="btn btn-outline-light me-2"
          >Login</a
        >
        <a routerLink="/account/register" class="btn btn-warning">Sign-up</a>
      </div>

      <ng-container *ngIf="user$">
        <div class="user ms-2 btn-group" dropdown>
          <h6
            class="text-light d-flex"
            style="cursor: pointer; column-gap: 0.5em; margin-bottom: 0"
            dropdownToggle
          >
            welcome <strong> {{ user$?.name }}</strong>
            <i class="fa fa-caret-down ms-2" style="font-size: 1.5em"></i>
          </h6>
          <div
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right"
            role="menu"
            aria-labelledby="button-basic"
          >
            <a class="dropdown-item d-flex align-items-center py-2" href="#">
              <i class="fa fa-shopping-cart me-3"></i> View Basket
            </a>

            <a class="dropdown-item d-flex align-items-center py-2" href="#">
              <i class="fa fa-history me-3"></i>View Orders
            </a>

            <div class="dropdown-divider"></div>

            <a
              class="dropdown-item d-flex align-items-center py-2"
              (click)="onLogout()"
            >
              <i class="fa fa-sign-out me-3"></i>log out
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</header>
